/* base */
body {
  width: 18rem;
  font-family: "roboto";
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  background: #f6f6f6;
}

.section--whitebackground {
  background-color: white;
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

@font-face {
  font-family: "roboto";
  src: url("Roboto-Regular.ttf");
  src: url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular-webfont.svg") format("svg"), url("Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand-Regular.otf") format("opentype");
}
.title--header {
  font-family: "shrikhand";
  text-align: center;
  padding-top: 0.4rem;
  margin-bottom: 0.3rem;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.title--menu {
  font-family: "shrikhand";
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section__subtitle {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.section__subtitle--intro {
  text-align: center;
}

.title--restaurant {
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  margin: 0px;
}

.title--restaurant i {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0px;
  top: 0.2rem;
  left: 8rem;
}

.subtitle--underline {
  border-bottom: #99E2D0 3px solid;
}

.menu__list {
  padding-left: 1.7rem;
}

.menu__subtitle {
  font-size: 1rem;
  margin-bottom: 0;
}

/* layout */
.section__intro {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 15px;
}

.section__intro--search_bar {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  background: #eaeaea;
}

.section__manual {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.section__manual--step {
  background: #f6f6f6;
  border-radius: 2rem;
  padding: 1.2em;
  padding-left: 2.8rem;
  display: inline-block;
  text-align: left;
  width: 14rem;
}

.section__manual--number {
  border-radius: 50%;
  background: #9356DC;
  color: #ffffff;
  text-align: center;
  padding: 0.2rem;
  width: 1.1rem;
  position: absolute;
  top: 1rem;
  left: 0.3rem;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  position: relative;
}

.fas {
  margin-right: 0.6rem;
}

.section {
  background: #f6f6f6;
}

.section__restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
}
.section__restaurant img {
  max-width: 15rem;
  width: auto;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section__restaurant--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15rem;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 0.2em;
}

.section__restaurant--description, p {
  padding-top: 0.8rem;
  margin: 0%;
}

article {
  max-width: max-content;
  font-family: "roboto";
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.far {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 10rem;
  bottom: 1.5rem;
}

.footer {
  background: #353535;
  color: white;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.footer--menu {
  top: 10rem;
  position: relative;
  background: #353535;
  color: white;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.footer--list {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.tittle--footer {
  font-family: "shrikhand";
  font-size: 1.1rem;
  padding-top: 1.3rem;
  padding-bottom: 0.6rem;
}

/* page */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaeaea;
  padding: 0.6rem;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  position: relative;
  top: 10.5rem;
}

.plate {
  border-radius: 2rem;
  background-color: white;
  padding: 1rem;
  position: relative;
  right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

.plate--description {
  font-size: 0.7rem;
  font-style: normal;
}

.button {
  text-align: center;
}

.photo {
  width: 18rem;
  height: 12rem;
  position: absolute;
}

.return {
  display: flex;
  align-items: center;
}

/* compenent */
.button {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem;
  margin-top: 1.25rem;
  position: relative;
}

.order {
  width: 50%;
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
