@charset "UTF-8";
/* base */
@font-face {
  font-family: "roboto";
  src: url("Roboto-Regular.ttf");
  src: url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular-webfont.svg") format("svg"), url("Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand-Regular.otf") format("opentype");
}
.section__subtitle {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__subtitle {
    font-size: 1.5rem;
  }
}

.menu__subtitle--underline {
  border-bottom: #99E2D0 3px solid;
}

.menu__subtitle {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: normal;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .menu__subtitle {
    font-size: 1rem;
  }
}

.link {
  color: black;
  text-decoration: none;
}
.link--footer {
  color: white;
  text-decoration: none;
}

/* layout */
.footer {
  background: #353535;
  color: white;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.footer--menu {
  top: 10rem;
  background: #353535;
  color: white;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer--menu {
    width: 42rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer {
    width: 40rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .footer {
    width: 50rem;
  }
}

.footer--list {
  padding-left: 20px;
  line-height: 1.5rem;
  padding-bottom: 2rem;
  margin-top: 0;
  max-width: 14rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer--list {
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .footer--list {
    text-align: left;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}

.title--footer {
  padding-top: 1rem;
  margin-top: 0rem;
}

.footer-align {
  position: relative;
  left: 1.9rem;
}

.title {
  font-family: "shrikhand";
  font-weight: lighter;
}
.title--header {
  text-align: center;
  padding-top: 0.4rem;
  margin-bottom: 0.3rem;
  font-size: 2.5rem;
}
.title--header--footer {
  text-align: left;
  font-size: 1.1rem;
  padding-top: 1.3rem;
  padding-bottom: 0.6rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .title--header {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
  }
}

/* page */
/* Bloc comprenant le header, l'image du restaurant et le nom du restaurant avec l'icone favoris */
.title {
  font-family: "shrikhand";
  position: relative;
}
.title--menu {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline white;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .title--menu {
    font-size: 2.5rem;
  }
}
.title--restaurant {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .title--restaurant {
    font-size: 1.5rem;
  }
}

.return--link {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.6rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  position: relative;
  top: 10rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .menu {
    width: 40rem;
    padding: 1rem;
    top: 20rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .menu {
    top: 20rem;
    height: 40rem;
  }
}

.menu--laptop {
  height: max-content;
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 18rem;
  height: 12rem;
  position: absolute;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .photo {
    width: 42rem;
    height: 25rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .photo {
    width: 50rem;
    height: 23rem;
  }
}

/* Bloc comprenant toutes les propriétés sur les plats et les animations lors de leur selection */
.plate__name {
  width: 12.5rem;
  font-size: 0.8rem;
  padding: 0.25rem;
}
.plate__name--description {
  font-size: 0.7rem;
  font-style: normal;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .plate__name--description {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .plate__name {
    font-size: 1rem;
    width: 20rem;
  }
}

.plate__animation {
  opacity: 0;
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0;
  text-align: center;
  width: 0%;
  background-color: #99E2D0;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .plate__animation {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.fa-check-circle {
  color: white;
  font-size: 1rem;
}

.plate__price {
  display: inline-block;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.5rem;
  position: absolute;
  top: 1.4rem;
  left: 14rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .plate__price {
    font-size: 1rem;
    left: 12.5rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .plate__price {
    left: 12rem;
  }
}

.menu__list {
  padding-left: 0;
}

.plate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px #aaa;
  background-color: white;
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  height: 3rem;
  animation: plate 1000ms linear 1s forwards;
  opacity: 0;
  max-width: 18rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .plate {
    max-width: 40rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
.plate:hover .plate__animation {
  display: flex;
  height: 3rem;
  width: 20%;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  animation: check 400ms ease-in-out backwards;
  transform-origin: 50% 0%;
  opacity: 1;
}
.plate:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: transform linear 400ms;
}
.plate:hover .plate__price {
  transform: translate(-120%);
  transition: transform linear 400ms;
}
.plate:hover .plate__name--hidden {
  animation: hide linear forwards;
  transform: translate(-350%);
  transition: transform linear 400ms;
}

@keyframes check {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
/* Animation en arrivant sur le menu */
@keyframes plate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entree {
  animation: plate 250ms linear forwards 1s;
}

.main-dish {
  animation: plate 250ms linear forwards 2s;
}

.dessert {
  animation: plate 250ms linear forwards 3s;
}

body {
  font-family: "roboto";
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  body {
    width: 40rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  body {
    width: 50rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  max-width: 20rem;
  background-color: #f6f6f6;
}
.section--whitebackground {
  background-color: white;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section {
    width: 40rem;
    max-width: 45rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .section {
    width: 50rem;
    max-width: 55rem;
    margin: 0;
  }
}

.blurred-background {
  margin-right: auto;
  margin-left: auto;
}

/* Premier bloc avec la barre et le bouton qui permettra de géolocaliser les restaurants */
.section__intro {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 15px;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__intro {
    font-size: 1.2rem;
  }
}

.section__intro--search_bar {
  padding-bottom: 15px;
  padding-top: 15px;
  background: #eaeaea;
  margin: 0;
}

.section__subtitle--intro {
  text-align: center;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__subtitle--intro {
    font-size: 1.5rem;
  }
}

/* Second bloc qui explique comment fonctionne l'application */
.tutorial {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.8rem;
  background: #f6f6f6;
  border-radius: 0.75rem;
  width: 14rem;
  box-shadow: 0 5px 5px #aaa;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .tutorial {
    width: 90%;
    max-width: 100%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .tutorial {
    width: 90%;
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.tutorial:hover {
  background-color: #ffdff6;
}
.tutorial:hover .tutorial__icone {
  color: #9356DC;
}

.tutorial__step {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  z-index: 1;
  font-weight: bold;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .tutorial__step {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3.5rem;
  }
}

.tutorial__number {
  border-radius: 50%;
  background: #9356DC;
  color: #ffffff;
  text-align: center;
  padding: 0.2rem;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 1rem;
  left: -0.5rem;
  font-size: 0.5rem;
  z-index: 1;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .tutorial__number {
    padding: 0.5rem;
    font-size: 0.7rem;
    top: 1rem;
    left: -1rem;
  }
}

.tutorial__icone {
  position: absolute;
  left: 1.75rem;
  top: 1rem;
  color: #909497;
  z-index: 1;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .tutorial__icone {
    top: 1.2rem;
  }
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  position: relative;
}

/* Troisième bloc présentant sous forme de cartes les restaurants présent sur l'application ; au clic, on arrive sur leur menu */
.section__restaurant {
  position: relative;
  max-width: max-content;
  font-family: "roboto";
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__restaurant {
    width: 40rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .section__restaurant {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.section__restaurant img {
  max-width: 15rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  margin: 0;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__restaurant img {
    max-width: 30rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .section__restaurant img {
    max-width: 20rem;
    max-height: 10rem;
  }
}

.section--restaurant {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2rem;
}

.section__restaurant--description {
  background-color: white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  position: relative;
  line-height: 1.25rem;
  padding: 1rem;
  padding-left: 0.5rem;
  top: -0.5rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .section__restaurant--description {
    max-width: 35rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .section__restaurant--description {
    max-width: 45rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.fav {
  position: relative;
  left: 12.5rem;
  top: 1rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .fav {
    top: 1.5rem;
    left: 25rem;
  }
}

.new {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  background-color: #99E2D0;
  color: #1D8348;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .new {
    right: 2rem;
    top: 1rem;
  }
}

/* compenent */
.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}
.btn--order {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.btn:hover {
  filter: brightness(110%);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .btn {
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 6rem;
  }
}

.return {
  display: flex;
  align-items: center;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: loading 3s;
  position: relative;
  top: 5rem;
  z-index: 1;
}

.loader--bars:before {
  content: "";
  display: block;
  position: absolute;
  left: 115px;
  width: 0.5rem;
  height: 3rem;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: grow 1.5s linear infinite;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .loader--bars:before {
    left: 300px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .loader--bars:before {
    left: 24rem;
  }
}

.loader--bars::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 3rem;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: grow 1.5s linear -0.66s infinite;
}

.loader--bars span {
  content: "";
  display: block;
  position: absolute;
  left: 130px;
  width: 0.5rem;
  height: 3rem;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: grow 1.5s linear -0.33s infinite;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .loader--bars span {
    left: 340px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .loader--bars span {
    left: 26rem;
  }
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
.blurred-background {
  animation: blurred 3s;
}

@keyframes blurred {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
/* Ajouter au favoris depuis la page d'acceuil */
.fav {
  font-weight: lighter;
  position: absolute;
}
.fav--on {
  opacity: 0;
  color: white;
}
.fav--off {
  opacity: 1;
}

.section__restaurant--icone:hover .fav--off {
  opacity: 0;
}
.section__restaurant--icone:hover .fav--on {
  opacity: 1;
  color: #9356DC;
  transition: color 400ms;
  transform-origin: bottom;
}

/* Ajouter au favoris depuis le menu du restaurant */
.fav-menu {
  position: relative;
  padding-right: 0.5rem;
}
.fav-menu:hover .fav-menu--off {
  opacity: 0;
}
.fav-menu:hover .fav-menu--on {
  opacity: 1;
  color: #9356DC;
  transition: color 400ms;
  transform-origin: bottom;
}

.fav-menu--off {
  position: absolute;
  opacity: 1;
}

.fav-menu--on {
  opacity: 0;
  color: white;
}

/*# sourceMappingURL=style.css.map */
