.footer {
    background: #353535;
    color: white;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.footer--list {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.tittle--footer {
    font-family: "shrikhand";
    font-size: 1.1rem;
    padding-top: 1.3rem;
    padding-bottom: 0.6rem;
}