.footer {
    background: #353535;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    &--menu {
        bottom: 3rem;
        background: #353535;
        color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
            bottom: 25rem;
        }
    }
}


.footer--list {
    padding-left: 20px;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 0;
    max-width: 14rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        margin-right: auto;
        margin-left: auto;
        font-size: 1rem;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $screen-lg-laptop) and (max-width: $screen-xlg-laptop) {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.title--footer {
    padding-top: 1rem;
    margin-top: 0rem;
}

.footer-align {
    position: relative;
    left: 1.9rem;
}