.item__2 {
    background-color: white;
    font-family: "roboto";
}
.item__2--manual {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

ul {
    list-style-type: none;
}

aside {
    display: flex;
}

div {
    display: flex;
}