.section {
    width: 25rem;
}

.section__intro {
    text-align: center;
    background: #f6f6f6;
    padding-bottom: 15px;
}

.section__intro--search_bar {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-block-end: 0px;
    background: #eaeaea;
    margin-top: 0.3rem;
}