.section {
    background-color: white;
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    
}

.section__manual {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0;
    position: relative;
}

.section__manual--step {
    background: #f6f6f6;
    border-radius: 2rem;
    font-weight: bold;
    padding: 1.2em;
    padding-left: 2.8rem;
    margin-left: 4rem;
    display: inline-block;
    text-align: left;
    width: 15rem;
}

.section__manual--number {
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    text-align: center;
    padding: 0.2rem;
    height: 1.2rem;
    width: 1.1rem;
    position: absolute;
    top: 1rem;
    left: 3.8rem;

}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}

.fas {
    margin-right: 0.6rem;
}
