.section {
    background: #f6f6f6;
 
}
.section__restaurant {
    display: flex;
    flex-direction: column;
    position: relative;
 
    
    img {
        max-width: 15rem;
        width: auto;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.section__restaurant--description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 15rem;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 0.2em;
}

.section__restaurant--description, p {
    padding-top: 0.8rem;
    margin: 0%;
}

article {
    max-width: max-content;
    font-family: "roboto";
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.far {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    left: 10rem;
    bottom: 1.5rem;
}

