.tutorial {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    font-size: 0.8rem;
}

.tutorial__step {
    background: #f6f6f6;
    border-radius: 1rem;
    padding: 1.2em;
    width: 11rem;
    padding-left: 3rem;
    box-shadow: 0 5px 5px #aaa;
    margin-left: auto;
    margin-right: auto;
}

.tutorial__number {
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    text-align: center;
    padding: 0.2rem;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 2rem;
    left: -0.5rem;
    font-size: 0.5rem;
}

.tutorial__icone {
    position: relative;
    left: 1rem;
    top: 2rem;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}

