.section__restaurant {
    position: relative;
    margin-bottom: 1.5rem;
    max-width: max-content;
    font-family: "roboto";
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    img {
        max-width: 15rem;
        width: auto;
        height: auto;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        margin: 0%;
    }
}

.section__restaurant--description {
    background-color: white;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    position: relative;
    line-height: 1.5rem;
    padding: 1rem;
    padding-left: 0.5rem;
    top: -1.5rem;
}

.section__restaurant--icone {
    position: relative;
    left: 2.5rem;
    top: -1.5rem;
    height: fit-content;
    width: fit-content;
}

.fav {
    left: 11rem;
    top: -2.5rem;
    position: absolute;
    &--on {
        opacity: 0;
    } 
    &--off {
        opacity: 1;
    }
}

.section__restaurant--icone {
    &:hover {
        .fav--off {
            opacity: 0;
        }
        .fav--on {
            opacity: 0.8;
            color: #9356DC;
        }
    }
}