

.section__manual {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;

}

.section__manual--step {
    background: #f6f6f6;
    border-radius: 2rem;
    padding: 1.2em;
    padding-left: 2.8rem;
    display: inline-block;
    text-align: left;
   width: 15rem;
}

.section__manual--number {
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    text-align: center;
    padding: 0.2rem;
    width: 1.1rem;
    position: absolute;
    top: 1rem;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}

.fas {
    margin-right: 0.6rem;
}
