.section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    background-color: #f6f6f6;
        &--whitebackground {
            background-color: white;
        }
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
