.section__subtitle {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.section__subtitle--intro {
    text-align: center;
}

.menu__subtitle--underline {
    border-bottom: #99E2D0 3px solid;
}

.menu__subtitle {
    font-size: 1rem;
    margin-bottom: 0;
} 

.link {
    color: black;
    text-decoration: none;
    &--footer{
        color: white;
        text-decoration: none;
    }
}