.section__subtitle {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        font-size: 1.5rem;
    }
}

.menu__subtitle--underline {
    border-bottom: #99E2D0 3px solid;
}

.menu__subtitle {
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: normal;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
} 

.link {
    color: black;
    text-decoration: none;
    &--footer{
        color: white;
        text-decoration: none;
    }
}