header {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.title--header {
    font-family: "shrikhand";
    text-align: center;
    padding-top: 0.4rem;
    margin-bottom: 0.3rem;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.section__subtitle {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.section__subtitle--intro {
    text-align: center;
}
