.btn {
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        border-radius: 1.5rem;
        padding: 0.6rem;
        margin-top: 1.25rem;
        &--order {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            }
            &:hover {
                opacity: 0.8;
                box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
            }
    }

.return {
    display: flex;
    align-items: center;
    color: black;
}