.btn {
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        border-radius: 1.5rem;
        padding: 0.6rem;
        margin-top: 1.25rem;
        margin-bottom: 3rem;
        &--order {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            }
            &:hover {
                filter: brightness(110%);
                box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
            }
            @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
                padding: 1rem;
                font-size: 1rem;
                margin-bottom: 6rem;
            }
            @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-xlg-laptop) {
                margin-bottom: 6rem;
            }
    }

.return {
    display: flex;
    align-items: center;
}