button {
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 10px;
}