footer {
    background: #353535;
    color: white;
    margin: 0%;
    width: 100%;
}

ul {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.tittle--footer {
    font-family: "shrikhand";
    font-size: 1.1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}