body {
    font-family: "roboto";
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
   width: 18rem;
        @media screen and (min-width: 700px) and (max-width: 900px) {
            width: 40rem;
        
            }
    }





