.section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    max-width: 20rem;
    background-color: #f6f6f6;
        &--whitebackground {
            background-color: white;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.8rem;
            margin-bottom: 2rem;
        } 
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        width: 40rem;
        max-width: 45rem;
        }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        width: 50rem;
        max-width: 55rem;
        margin: 0;
        }

}

.blurred-background {
    margin-right: auto;
    margin-left: auto;
}

/* Premier bloc avec la barre et le bouton qui permettra de géolocaliser les restaurants */

.section__intro {
    text-align: center;
    background: #f6f6f6;
    padding-bottom: 15px;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        font-size: 1.2rem;
    }
}

.section__intro--search_bar {
    padding-bottom: 15px;
    padding-top: 15px;
    background: #eaeaea;
    margin: 0;
}

.section__subtitle--intro {
    text-align: center;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        font-size: 1.5rem;
    }
}

/* Second bloc qui explique comment fonctionne l'application */

.tutorial {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 0.8rem;
    background: #f6f6f6;
    border-radius: 0.75rem;
    width: 14rem;
    box-shadow: 0 5px 5px #aaa;
    margin-bottom: 0.75rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        width: 90%;
        max-width: 100%;
        font-size: 1rem;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        width: 90%;
        max-width: 100%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    &:hover {
        background-color: lighten($color-secondary, 20%);
        .tutorial__icone{
            color: $color-primary;
        }
    }
}

.tutorial__step {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    z-index: 1;
    font-weight: bold;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 3.5rem;
    }
}

.tutorial__number {
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    text-align: center;
    padding: 0.2rem;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    font-size: 0.5rem;
    z-index: 1;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        padding: 0.5rem;
        font-size: 0.7rem;
        top: 1rem;
        left: -1rem;
    }
}

.tutorial__icone {
    position: absolute;
    left: 1.75rem;
    top: 1rem;
    color: #909497 ;
    z-index: 1;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        top: 1.2rem;
    }
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}

/* Troisième bloc présentant sous forme de cartes les restaurants présent sur l'application ; au clic, on arrive sur leur menu */

.section__restaurant {
    position: relative;
    max-width: max-content;
    font-family: "roboto";
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        width: 40rem;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        max-width: 15rem;
        
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        margin: 0;
        @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
            max-width: 30rem;
        }
        @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
            max-width: 20rem;
            max-height: 10rem;
        }
    }
}

.section--restaurant {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 2rem;
}

.section__restaurant--description {
    background-color: white;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    position: relative;
    line-height: 1.25rem;
    padding: 1rem;
    padding-left: 0.5rem;
    top: -0.5rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        max-width: 35rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    @media screen and (min-width: $screen-sm-laptop) and (max-width: $screen-lg-laptop) {
        max-width: 45rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}



.fav {
    position: relative;
    left: 12.5rem;
    top: 1rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        top: 1.5rem;
        left: 25rem;
    }
}

.new {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    background-color: #99E2D0;
    color: #1D8348;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 0.75rem;
    @media screen and (min-width: $screen-sm-tablet) and (max-width: $screen-lg-tablet) {
        right: 2rem;
        top: 1rem;
    }
}