.menu {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 0.6rem;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    position: relative;
    top: 10rem;
}

.icone--palette {
    position: relative;
}

.photo {
    width: 18rem;
    height: 12rem;
    position: absolute;
}



.plate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    height: 3rem;
    animation: plate 1000ms linear 1s forwards;
    opacity: 0;
    &:hover {
        .plate__animation {
            display: flex;
            height: 3rem;
            width: 20%;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            justify-content: center;
            align-items: center;
            animation: check 400ms ease-in-out backwards;
            transform-origin: 50% 0%;
            opacity: 1;
            
        }
        .fa-check-circle {  
            transform: rotate(360deg);
            transition: transform linear 400ms;
        }
        .plate__price {
            transform: translate(-120%);
            transition: transform linear 400ms;
        }
        .plate__name--hidden {
            animation: hide linear forwards;
            transform: translate(-350%);
            transition: transform linear 400ms;
        }
        .plate__name {
            animation: reduc linear forwards;
        }
    }   
}

@keyframes check {
    0% { width: 0%; }
    100% { width: 20%; }
}

@keyframes reduc {
    0% { width: 12.5rem; }
    100% { width: 9.5rem; }
}

@keyframes hide {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



.plate__name--hidden{
    opacity: 0;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-align: center;
 
    position: absolute;
    top: 1.4rem;
    left: 13rem;
    font-weight: bold;
}

.plate__animation {
    opacity: 0;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-align: center;
    width: 0%;
    background-color: #99E2D0;
}

.fa-check-circle {
    color: white;
}

.plate__name {
    max-width: 12.5rem;
    font-size: 0.8rem;
    padding: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    &--description {
        font-size: 0.7rem;
        font-style: normal;
        white-space: normal;
        overflow: hidden;
    }
}

.plate__price {
    display: inline-block;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.5rem;
    position: absolute;
    top: 1.4rem;
    left: 14rem;
    overflow: visible;
}

.title {
    font-family: "shrikhand";
    position: relative;
    &--menu {
        text-align: center;
        margin-bottom: 0.8rem;
        font-size: 1.8rem;
        margin-left: auto;
        margin-right: auto;
    }
    &--restaurant {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        margin: 0px;
        top: 0.2rem;
        display: flex;
        justify-content: space-between;
    }
}

.menu__list {
    padding-left: 0;
}

@keyframes plate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.entree { animation: plate 250ms linear forwards 1s; }

.main-dish{ animation: plate 250ms linear forwards 2s; }

.dessert{ animation: plate 250ms linear forwards 3s; }


